body {
    background-image: url(/images/dust_scratches.png);
    margin: 0;
}


/* the main page banner */


/*banner */

.banner {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/pexels-stephan-seeber-1261728.jpg);
    box-shadow: 0px 5px 20px 1px;
    font-family: sans-serif;
    margin-bottom: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: black;
    position: relative;
}

.content {
    position: absolute;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    top: 25%;
    bottom: 25%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content h1 {
    font-size: 6vw;
    margin: 0;
    padding: 0;
}

.content p {
    font-size: 3vw;
    margin: 0;
    padding: 0;
}


/* .navbar {
    background-color: #fffafa;
    box-shadow: rgb(3 27 78 / 10%) 0px 2px 4px;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 9vh;
    margin: 0;
    padding: 0;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
}

.navbar ul li {
    font-size: 2vw;
    list-style: none;
    display: inline-block;
    padding-bottom: .5%;
    padding-right: 5%;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
} */

.buttons {
    padding-top: 1.5%;
}

.buttons a {
    padding-top: 1%;
    align-items: center;
    text-align: center;
    padding-right: 1.5%;
}

button {
    width: 16%;
    height: 9vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #f29d85 50%, transparent 50%);
    border: 2px solid #f29d85;
    border-radius: 4px;
    font-size: 2vw;
    padding: .5%;
    cursor: pointer;
    position: relative;
    background-size: 200% 100%;
    background-position: right;
    transition: 0.5s ease-out;
}

button:hover {
    background-position: left;
    font-size: 2.5vw;
}


/*breakpoints*/

@media only screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: portrait) {
    .banner {
        height: 50vh;
    }
    .content {
        top: 35%;
    }
    .navbar {
        height: 5vh;
    }
    button {
        width: ;
        height: 3vh;
    }
    .navbar {}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        height: 30vh;
    }
    .content {
        height: 35%;
    }
    button {
        width: ;
        height: 4vh;
    }
}

@media only screen and (min-width: 421px) and (max-width: 767px) and (orientation: portrait) {
    .banner {
        height: 30vh;
    }
    .content {
        top: 35%;
    }
    button {
        width: ;
        height: 3vh;
    }
}

@media only screen and (max-width: 420px) {
    .banner {
        height: 30vh;
    }
    .content {
        top: 35%;
    }
    button {
        width: 20%;
        height: 3vh;
    }
}